<!DOCTYPE html>
<html lang="fr">
<head>
 
    <title>Chargement</title>
    <link rel="icon" href="static/dophinicone.png" type="image/png">


    <link rel ="stylesheet" href ="{{ url_for ('static', filename='css/style2.css')}}">
    <link rel ="stylesheet" href ="{{ url_for ('static', filename='css/select.css')}}">
    <link rel ="stylesheet" href ="{{ url_for ('static', filename='css/responsive.css')}}">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body background="static/photo/back.jpeg" >

    <header>
        <!-- En-tête de la page -->
        <div class="entête">
            <h1>Enregistrement</h1>
            <div class="user-info">
                <p>Nom: {{ username }}</p> 
                <p>Groupe: {{ groupe }}</p>
            </div>
         </div>

        <nav>
            <ul>
                <li><a class="text" href="{{ url_for('Home') }}">Accueil</a></li>
                <li><a class="text" href="{{ url_for('personnages') }}">Personnages</a></li>
                <li><a class="text" href="{{ url_for('Oeuvres') }}">Oeuvres</a></li>
            </ul>

            <button class="déco" onclick="window.location.href='{{ url_for('déconnexion') }}'">Déconnexion</button>
                
        </nav>
        
    </header>
    <main class="container">
        <!-- Ajouter un courant-->
        <div class="Chargement">
            <h3 class="titre-chargement">Ajouter un courant</h3>
            <form action="{{ url_for('charger_courant') }}" method="POST" enctype="multipart/form-data" class="conteneurform">
                <div class="form-labels">
                    <label for="nom_courant">Nom du courant:</label>
                    <label for="lien_courant">Lien du courant:</label>
                </div>

                <div class="form-inputs">
                    <input class="black" type="text" name="nom_courant" required>
                    <input class="black" type="text" name="lien_courant" placeholder="écrire le nom de votre pdf sans l'extension">
                </div>
                <button class="black" type="submit">Ajouter</button>


            </form>
            
        </div>
        <!-- Chargement-->
        <div class="Chargement">
            <h2 class="titre-chargement">Ajouter un auteur</h2>
            
            <form action="{{ url_for('charge') }}" method="POST" enctype="multipart/form-data" class="conteneurform">
                <div class="form-labels">
                    <label for="nom">Nom de l'auteur:</label>
                    <label for="naissance">Année de naissance:</label>
                    <label for="mort">Année de décès:</label>
                    <label for="photo">Photo:</label>
                    <label for="audio">Fichier audio:</label>
                    <label for="fichier">Fichier pdf:</label>
                </div>
                
                <div class="form-inputs">
                    <input class="black" type="text" name="nom" required>
                    <input class="black" type="number" name="naissance" required>
                    <input class="black" type="number" name="mort" required>
                    <input class="black" type="text" name="photo" placeholder="écrire le nom de votre image sans l'extension" required>
                    <input class="black" type="text" name="audio" placeholder="écrire le nom de votre audio sans l'extension">
                    <input class="black" type="text" name="fichier" placeholder="écrire le nom de votre pdf sans l'extension">

                    <!-- Menu déroulant des courants philosophiques -->
                    <select class="black" name="courant" required>
                        <option>Sélectionner un courant phylosophique</option>
                        {% for courant in courants %}
                            <option value="{{courant.id_lead}}">{{courant.id_lead}} {{ courant.lead_name }}</option>
                        {% endfor %}
                    </select>

                                
                </div>
            
                <button class="black" type="submit">Ajouter</button>
            </form>
            

            <p class="white">{{message}}</p>   
        </div>
        
    </main>

    <!-- Section principale -->
    
    
    <!-- Pied de page -->
    <footer >
        <p>&copy; <img class="foot" src="static/photo/dauphin.png" > 2025 Philorama. Tous droits réservés.</p>
    </footer>

</body>
</html>
